<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
    <Properties>
        <Property name="loggerLocation">logs/client.log</Property>
    </Properties>
    <Appenders>
        <!-- General Appenders -->
        <Appender type="Console" name="ClientConsoleAppender">
        	<Layout type="PatternLayout" pattern="%d %p %C [CLIENT][%t] %m%n" ></Layout>
        </Appender>
        <Appender type="File" name="ClientFileAppender" fileName="${loggerLocation}">
        	<Layout type="PatternLayout" pattern="%d %p %C [CLIENT][%t] %m%n" />
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="debug">
        	<AppenderRef ref="ClientConsoleAppender" />
        	<AppenderRef ref="ClientFileAppender" />
        </Root>
    </Loggers>
</Configuration>